.profile {
    background-color:var(--background-color);
    color: var(--text-color);
    padding-top: 10vh;
    padding-bottom: 20vh;   
}

.profile .avatar img {
    border-radius: 50%;
    margin-bottom: 3%;
    border: 2px solid var(--text-color);
    height: 13%;
    width: 13%;
}

.profile .name {
    font-size: 5rem;
    font-family: cursive;
    margin-top: 0%;
}

.profile .first-name {
    color: var(--text-color);
}

.profile .last-name {
    color: var(--highlight-color)
}

.profile nav {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.profile nav ul {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
}

.profile nav li {
    list-style: circle;
    margin-left: 8%;
    margin-right: 5%;
}

.profile nav a {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.profile .social {
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile .social li {
    list-style: none;
    margin-left: 2%;
}

.profile .social a {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    padding-left: 10px;
    font-size: 1.8rem;
    font-weight: bold;
}

.profile a:hover {
    color: var(--highlight-color);
}