.App-light {
  --background-color: #FFFFFF;
  --secondary-color: #E8E8E8;
  --text-color: #000000;
  --highlight-color: #EA3B35;
}

.App-dark {
  --background-color: #303440;
  --secondary-color: #23262F;
  --text-color: #F0F0F0;
  --highlight-color: #FE99BB;
}

.App {
  display: block;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.Theme {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  margin-top: 2%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}