.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-page h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 1px;
    padding: 0;
}

.intro-page h2 {
    font-size: 8em;
    font-weight: 800;
    margin: 10px;
}

.intro-page h3 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 5em;
}