.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 5% 10%;
}

.profile-text {
    margin: 0 10% 0 0;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
}

.profile-photo img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 10% 10% 10% 0;
}